{% extends "framework.html" %}
{% block content %}

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Dashboard <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Outdoors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Office</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Annexe</a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <h1 class="h2">Dashboard</h1>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="dropdown show">
                        <a class="btn btn-outline-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Last 7 days</a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="#">Last 7 days</a>
                            <a class="dropdown-item" href="#">Last 30 days</a>
                            <a class="dropdown-item" href="#">Last year</a>
                            <a class="dropdown-item" href="#">Last 5 years</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="card-deck">
                    <div class="card">
                        <div class="card-header">Office</div>
                        <div class="card-body">
                            <table>
                            <tr>
                                <td><img src="/static/thermometer.png" width="64" height="64" /></td><td class="temperature">18.55&deg;C</td>
                                <td><img src="/static/humidity.png" width="58" height="58" class="ml-2"/></td><td class="humidity">55.23%</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <hr class="ml-2"/>
                                    <span class="text-right font-weight-bold">Max: </span><span>18.55&deg;C</span><br/>
                                    <span class="text-right font-weight-bold">Min: </span><span>18.55&deg;C</span>
                                </td>
                                <td colspan="2" >
                                    <hr class="ml-2"/>
                                    <span class="text-right font-weight-bold">Max: </span><span>60.00%</span><br />
                                    <span class="text-right font-weight-bold">Min: </span><span>60.00%</span>
                                </td>
                            </tr>
                            </table>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Card title</h4>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

{% endblock %}
